{% extends "mainapp/base.html" %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}
{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}
<div class="container bg-light shadow-lg p-5 form-layout">
<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form|crispy}}
  <input class="btn btn-outline-info" type="submit" value="Change my password">
</form>
</div>
{% else %}

<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>

{% endif %}
{% endblock %}