{% extends 'mainapp/base.html' %}

{% block title %}Password reset sent{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h2 class="card-title text-center"><strong>Password Reset Request Received</strong></h2>
                    <p class="card-text text-center">
                        An email has been sent to your registered email address with instructions on how to reset your password.
                    
                    <br>
                    <a class="btn btn-outline-danger" href="https://mail.google.com/mail/u/0/#search/in%3Aspam+uninotes" rel="noreferrer noopener" target="_blank" class="card-text text-center">
                        Open G-Mail now
                    </a>
                </p>
                    <p class="card-text text-center">
                        If you do not receive an email within a few minutes, please check your spam folder or try again later.
                    </p>
                    <p class="card-text text-center">
                        <a href="{% url 'login' %}" class="btn btn-primary">Back to Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}