{% extends "mainapp/base.html" %}

{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block title %}
    Upload
{% endblock %}
<!-- {% comment %} {% block content %}
   <div class="container bg-light shadow-md p-5 form-layout">
        <h3><b>Create Record</b></h3>
        <form method="POST" autocomplete="off">
        {% csrf_token %}
            {{ form|crispy }}
        <button class="btn-btn-primary w-100 btn-block p-2" type="submit">Create</button>

        </form>
</div>

{% endblock %} {% endcomment %} -->

{% block content %}

<h2>Note Details</h2>
{% include "components/notes_form.html" %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Fetch colleges and populate the college dropdown
        function loadDataFromLocalStorage() {
            var collegeId = localStorage.getItem('collegeId');
            var schoolId = localStorage.getItem('schoolId');
            var departmentId = localStorage.getItem('departmentId');
            var courseId = localStorage.getItem('courseId');
            var unitId = localStorage.getItem('unitId');
    
            if (collegeId) $('#college').val(collegeId).change();
            if (schoolId) $('#school').val(schoolId).change();
            if (departmentId) $('#department').val(departmentId).change();
            if (courseId) $('#course').val(courseId).change();
            if (unitId) $('#unit').val(unitId).change();
        }
        $.ajax({
            url: '/get_colleges/',
            method: 'GET',
            success: function (data) {
                var collegeDropdown = $('#college');
                collegeDropdown.empty().append($('<option>', {
                    value: '',
                    text: 'Select College'
                }));
                $('#school, #department, #course').empty(); // Clear other dropdowns

                $.each(data.colleges, function (index, college) {
                    collegeDropdown.append($('<option>', {
                        value: college.id,
                        text: college.name
                    }));
                });

                collegeDropdown.change(); // Trigger change event after populating the college dropdown
            }
        });

        // Event listener for college change to fetch schools
        $('#college').change(function () {
            var collegeId = $(this).val();
            if (collegeId) {
                $.ajax({
                    url: '/get_schools/',
                    method: 'GET',
                    data: {college_id: collegeId},
                    success: function (data) {
                        var schoolDropdown = $('#school');
                        schoolDropdown.empty().append($('<option>', {
                            value: '',
                            text: 'Select School'
                        }));
                        $('#department, #course').empty(); // Clear other dropdowns

                        $.each(data, function (index, school) {
                            schoolDropdown.append($('<option>', {
                                value: school.id,
                                text: school.name
                            }));
                        });

                        schoolDropdown.change(); // Trigger change event after populating the school dropdown
                    }
                });
            }
        });
          // Event listener for school change to fetch departments
          $('#school').change(function () {
            var schoolId = $(this).val();
            if (schoolId) {
                $.ajax({
                    url: '/get_departments/',
                    method: 'GET',
                    data: {school_id: schoolId},
                    success: function (data) {
                        var departmentDropdown = $('#department');
                        departmentDropdown.empty().append($('<option>', {
                            value: '',
                            text: 'Select Department'
                        }));
                        $('#course, #unit').empty(); // Clear other dropdowns

                        $.each(data, function (index, department) {
                            departmentDropdown.append($('<option>', {
                                value: department.id,
                                text: department.name
                            }));
                        });

                        departmentDropdown.change(); // Trigger change event after populating the department dropdown
                    }
                });
            }
        });

        // Event listener for department change to fetch courses
        $('#department').change(function () {
            var departmentId = $(this).val();
            if (departmentId) {
                $.ajax({
                    url: '/get_courses/',
                    method: 'GET',
                    data: {department_id: departmentId},
                    success: function (data) {
                        var courseDropdown = $('#course');
                        courseDropdown.empty().append($('<option>', {
                            value: '',
                            text: 'Select Course'
                        }));
                        $('#unit').empty(); // Clear other dropdown

                        $.each(data, function (index, course) {
                            courseDropdown.append($('<option>', {
                                value: course.id,
                                text: course.name
                            }));
                        });

                        courseDropdown.change(); // Trigger change event after populating the course dropdown
                    }
                });
            }
        });

        // Event listener for course change to fetch units
        $('#course').change(function () {
            var courseId = $(this).val();
            if (courseId) {
                $.ajax({
                    url: '/get_units/',
                    method: 'GET',
                    data: {course_id: courseId},
                    success: function (data) {
                        var unitDropdown = $('#unit');
                        unitDropdown.empty().append($('<option>', {
                            value: '',
                            text: 'Select Unit'
                        }));

                        $.each(data, function (index, unit) {
                            unitDropdown.append($('<option>', {
                                value: unit.id,
                                text: unit.name
                            }));
                        });
                    }
                });
            }
        });
        $('#notes-form').submit(function (e) {
            e.preventDefault();
            var formData = new FormData(this);

            // Save selected values to localStorage before submitting the form
            localStorage.setItem('collegeId', $('#college').val());
            localStorage.setItem('schoolId', $('#school').val());
            localStorage.setItem('departmentId', $('#department').val());
            localStorage.setItem('courseId', $('#course').val());
            localStorage.setItem('unitId', $('#unit').val());
            $.ajax({
                url: `/submit_notes/`,
                method: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    if(data.success){
                        $('#success-note').removeClass("d-none").addClass("d-block")
                        setTimeout(
                            function(){
                                window.location.href = data.message
                            }, 3000
                        )
                    }
                },
                error: function (error) {
                    alert("Something went wrong")
                    console.error(error);
                }
            });
        });
        loadDataFromLocalStorage();
    });
</script>
{% endblock %}
