{% extends "mainapp/base.html" %}

{% block title %}
dash
{% endblock %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<div class="container-sm" id="alert-container"></div>

    <a id="newNoteButton" href="{% url 'create_record' %}" class="btn btn-outline-success">
        Start uploading notes <i class="bi bi-file-plus"></i>
    </a>

<button class="btn btn-outline-secondary" id="sortButton">A to Z</button>
    <br> <br>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <table class="table-md table-hover" id="departmentTable">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Department</th>
            <th scope="col">School</th>
        </tr>
    </thead>
    <tbody>
        {% for department in unique_departments %}
        <tr>
            <td>{{ department.id }}</td>
            <td>
                <strong><a class="text-decoration-none" href="{% url 'department_details' department.pk %}">
                    {{ department.name }}</a>
                </strong>
            </td>
            <td>{{ department.school.name }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No departments available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
            <h4 class="my-2">Recently added notes</h4>
            {% for note in notes %}
            <small class="py-1">
                <div class="d-flex justify-content-between text-primary h4">
                    <div>
                        <a class="text-decoration-none" href="{{ note.file.url }}" target="_blank">
                            <i class="bi bi-file-earmark-rich-text"></i>
                            <span>{{ note.get_display_name }}</span>
                        </a>
                    </div>
                </div>
            </small>
            <hr>
            {% empty %}
            <h6>No notes added</h6>
            {% endfor %}
        </div>
    </div>
<script>
  function vibrate() {
  if ("vibrate" in navigator) {
      navigator.vibrate([200, 100, 200]); // Vibration pattern, e.g., vibrate for 200ms, pause for 100ms, vibrate for 200ms
  }
}

  document.getElementById('newNoteButton').addEventListener('click', function(event) {
  var isAuthenticated = "{{ user.is_authenticated }}";
  isAuthenticated = (isAuthenticated.toLowerCase() === 'true');

  if (!isAuthenticated) {
      event.preventDefault();

      var alertContainer = document.getElementById('alert-container');

      var alertDiv = document.createElement('div');
      alertDiv.classList.add('alert', 'alert-warning', 'alert-dismissible', 'fade', 'show');
      alertDiv.setAttribute('role', 'alert');
      alertDiv.innerHTML = `
          <div>
              You need to be authenticated to create a new note.
              <button type="button" class="btn btn-warning btn-sm ms-2" id="loginBtn">Login</button>
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="alert">Cancel</button>
          </div>
      `;

      alertContainer.prepend(alertDiv);
      vibrate();
      document.getElementById('loginBtn').addEventListener('click', function() {
          window.location.href = '{% url "login" %}';
      });
  }
});

  </script>
<script async>
   let userString = '{{ user|escapejs }}'; // The user variable is a JSON string
    console.log("%s is authenticated", userString);
</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add DataTables JS -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        var table = $('#departmentTable').DataTable();

        var ascending = true;

        $('#sortButton').on('click', function() {
            if (ascending) {
                table.order([0, 'asc']).draw();
                ascending = false;
                $('#sortButton').text('Z to A');
            } else {
                table.order([0, 'desc']).draw();
                ascending = true;
                $('#sortButton').text('A to Z');
            }
        });
    });
</script>
{% endblock %}