{% extends "mainapp/base.html" %}
{% block title %}{{ unit_topic.name }}{% endblock %}

{% block content %}
    <p class="text-primary my-3 lead">
        <a href="{% url 'dashboard' %}" class="text-decoration-none">
            <i class="bi bi-house-door-fill"></i>
        </a>
        <span> > </span>
        <a href="{% url 'department_details' unit_topic.unit.course.department.id %}" class="text-decoration-none">{{ unit_topic.unit.course.department.name | capfirst  }}</a>
        <span> > </span>
        <a href="{% url 'course_details' unit_topic.unit.course.id %}" class="text-decoration-none">{{ unit_topic.unit.course.get_display_name | capfirst }}</a>
        <span> > </span>
        <a href="{% url 'unit_details' unit_topic.unit.id %}" class="text-decoration-none">{{ unit_topic.unit.name | capfirst  }}</a>
        <span> > </span>
        <a href="#{{ unit_topic.name | lower }}" class="text-decoration-none">{{ unit_topic.name | capfirst  }}</a>
    </p>
    <h1 class="mt-1 mb-4">{{ unit_topic.name }} Note Files</h1>
    <!-- Display other details or notes related to the unit topic -->
    {% for note in notes %}
        <p class="py-1">
            <div class="d-flex justify-content-between text-primary h4">
                <div>
                    <a class="text-decoration-none" href="{{ note.file.url }}" target="_blank">
                        <i class="bi bi-file-earmark-richtext"></i>
                        <span>{{note.get_display_name}} [uploaded by {{ note.uploaded_by.username }} on {{ note.uploaded_at }}]</span>
                    </a>
                </div>
                <div>
                    <a href="{{ note.file.url }}" target="_blank">View</a> |
                    <a href="{{ note.file.url }}" download>Download</a>
                </div>
            </div>
        </p>
        <hr>
    {% empty %}
        <p class="text-center">No notes</p>
    {% endfor %}
{% endblock %}
