<div id="success-alert" class="d-none">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Note created successfully!
    </div>
</div>
<div class="container bg-light shadow-lg p-5 form-layout">
<form id="notes-form" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    <div class="mb-3">
        <label for="college" class="form-label">College:</label>
        <select id="college" name="college" class="form-select">
            <!-- colleges will be populated dynamically via AJAX -->
        </select>
    </div>

    <div class="mb-3">
        <label for="school" class="form-label">School:</label>
        <select id="school" name="school" class="form-select">
            <!-- Schools will be populated dynamically via AJAX -->
        </select>
    </div>

    <div class="mb-3">
        <label for="department" class="form-label">Department:</label>
        <select id="department" name="department" class="form-select">
            <!-- Departments will be populated dynamically via AJAX -->
        </select>
    </div>

    <div class="mb-3">
        <label for="course" class="form-label">Course:</label>
        <select id="course" name="course" class="form-select">
            <!-- Courses will be populated dynamically via AJAX -->
        </select>
    </div>

    <div class="mb-3">
        <label for="unit" class="form-label">Unit:</label>
        <select id="unit" name="unit" class="form-select">
            <!-- Units will be populated dynamically via AJAX -->
        </select>
    </div>

    {% comment %} <div class="mb-3">
        <label for="unit_topic" class="form-label">Unit Topic:</label>
        <input required type="text" id="unit_topic" name="unit_topic" class="form-control" required>
    </div> {% endcomment %}

<!--     <div class="mb-3">
        <label for="title" class="form-label">Note Title:</label>
        <input required type="text" id="title" name="title" class="form-control" required>
    </div> -->

    <div class="mb-3">
        <label for="note_file" class="form-label">Note File:</label>
        <input multiple id="multiplefileupload" required type="file" id="note_file" name="note_file" class="form-control" accept=".pdf, .doc, .docx">
    </div>
 
    

    <button type="submit" class="btn btn-outline-primary w-100 btn-block p-2">Submit</button>
</form>
</div>