<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
    <!-- Add any necessary meta tags, styles, or linked CSS files here -->
</head>
<body>

<p>Subject: Ensuring Your Security - Password Reset Request</p>

<p>Dear {{ user }},</p>

<p>We hope this message finds you well.</p>

<p>It appears that a request to reset your password has been initiated for your account at {{ website_name }}. We take the security of your account seriously and wanted to ensure that this request originated from you.</p>

<p>If you did not request a password reset, please disregard this message. Your account remains secure, and no changes have been made.</p>

<p>However, if you did initiate this request, please click on the link below to proceed with resetting your password:</p>

<p><strong><a href="{{ reset_link }}" rel="noreferrer noopener" target="_blank">Reset Password</a></strong></p>

<p>Please note that for security reasons, this link will expire after a certain period. If you encounter any issues or need further assistance, feel free to reach out to our support team at {{ support_email }}.</p>

<p>Thank you for your understanding and cooperation in maintaining the security of our platform. We appreciate your continued trust in {{ website_name }}.</p>

<p>Warm regards,</p>

<p>Admin<br>
C.E.O<br>
Uninotes System</p>

</body>
</html>
